.example-1 .form-group{  width: auto;
  padding: 7px 20px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;}
.example-1 input[type=file]{outline:0;opacity:0;pointer-events:none;user-select:none}
.example-1 .label{width:120px;border:2px dashed #bbbbbb;border-radius:5px;display:block;padding:1.2em;transition:border 300ms ease;cursor:pointer;text-align:center}
.example-1 .label i{display:block;font-size:42px;padding-bottom:16px}
.example-1 .label i,.example-1 .label .title{color: #bbbbbb;transition:200ms color}
.example-1 .label:hover{border:2px solid #6BE
}
.example-1 .label:hover i,.example-1 .label:hover .title{color: #6BE
}

/*body {*/
/*  background: #ffffff;*/
/*}*/
.gradient-button {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
}
.gradient-button:hover {
  background-position: right center;
}

.img_1 {
  justify-content: center;
  width: 480px;
  height: auto;
}

